/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

$primary-color: #54AFEB;
$primary-font-color: #FFFFFF;

$margin-0-spacing: 0px;
