:global {
  @import 'base';
  @import '~normalize.css/normalize';
  @import '~reveal.js/css/reveal';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: $margin-0-spacing;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* Header Style */
  .navbar-header {
    .navbar-brand {
      padding: 10px;
    }
  }

  .navbar-custom {
    color: $primary-font-color;
    background-color: $primary-color;
  }
  /* /Header Styles */
}
